<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-openwith" version="2.0.1">
    <name>OpenWith</name>
    <description>Cordova "Open With" plugin for iOS and Android</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=7.1.0"/>
        <engine name="cordova-android" version=">=7.1.0"/>
        <engine name="cordova-ios" version=">=4.5.0"/>
    </engines>

    <js-module src="www/openwith.js" name="openwith">
        <clobbers target="cordova.openwith"/>
    </js-module>

    <platform name="android">
        <preference name="ANDROID_MIME_TYPE" default="*/*"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OpenWithPlugin">
                <param name="android-package" value="com.zenkit.cordova.openwith.OpenWithPlugin"/>
            </feature>
            <preference name="AndroidLaunchMode" value="singleTask"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <!-- See https://developer.android.com/guide/topics/manifest/data-element.html -->
                <data android:mimeType="$ANDROID_MIME_TYPE"/>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </config-file>

        <!-- cordova plugin src files -->
        <source-file src="src/android/OpenWithPlugin.java" target-dir="src/com/zenkit/cordova/openwith"/>
        <source-file src="src/android/PluginResultSender.java" target-dir="src/com/zenkit/cordova/openwith"/>
        <source-file src="src/android/Serializer.java" target-dir="src/com/zenkit/cordova/openwith"/>
    </platform>

    <platform name="ios">
        <preference name="IOS_URL_SCHEME"/>
        <preferences name="IOS_UNIFORM_TYPE_IDENTIFIER" default="public.data"/>

        <config-file target="config.xml" parent="/*">
            <feature name="OpenWithPlugin">
                <param name="ios-package" value="OpenWithPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string>cordova.plugin.openwith.$IOS_URL_SCHEME.shareextension</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$IOS_URL_SCHEME</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <!-- Entitlements (Debug) -->
        <config-file target="*-Debug.plist" parent="com.apple.security.application-groups">
            <array>
                <string>group.$(CFBundleIdentifier).shareextension</string>
            </array>
        </config-file>

        <!-- Entitlements (Release) -->
        <config-file target="*-Release.plist" parent="com.apple.security.application-groups">
            <array>
                <string>group.$(CFBundleIdentifier).shareextension</string>
            </array>
        </config-file>

        <source-file src="src/ios/OpenWithPlugin.m"/>

        <!-- Cordova hooks -->
        <hook type="before_plugin_install" src="hooks/ios/copy-extension.js"/>
        <hook type="after_plugin_install" src="hooks/ios/add-target.js"/>
        <hook type="before_plugin_uninstall" src="hooks/ios/remove-target.js"/>

        <!-- Dependencies -->
        <framework src="MobileCoreServices.framework"/>
    </platform>
</plugin>
